---
import SideBar from "../components/sidebar/sidebar";
import Calendar_Overview from "../components/calendar/calendar";
import JournalOverview from "../components/journal-entry/journal-overview";
---

<html class="bg-gradient-to-tr from-[#ACB4FA] from-0% via-[#FFD6D6] via-37% to-[#CED9FF] to-84%">
<div class="flex flex-row w-screen">
    <SideBar/>
    <div class="justify-self-center w-screen">
        <div class="grid grid-cols-2 gap-14 mx-14 my-14 justify-items-center">
            <Calendar_Overview/>
            <JournalOverview/>
        </div>
    </div>

</div>
</html>
