---
import MainLayout from "../layouts/main-layout.astro"
import Calendar_Overview from "../components/calendar/calendar";
import JournalOverview from "../components/journal-entry/journal-overview";
---

<MainLayout title = "Settings" activePage = "settings">
    <div class="grid grid-cols-2 gap-14 mx-14 my-14 justify-items-center">
    </div>
</MainLayout>



